<section id="wrap">

<h1>Contacts</h1>


<form id="find-contact-form">
  <strong>FIND A CONTACT</strong>
  <label>Name<br />
    <select></select>
  </label>
</form>


<form id="add-contact-form">
  <strong>ADD A CONTACT</strong>
  <label>First Name<br /><input type="text" /></label>
  <label>Last Name<br /><input type="text" /></label>
  <label>Email<br /><input type="email" /></label>
  <label>Phone<br /><input type="text" /></label>
</form>

<form id="edit-contact-form" class="hidden">
  <strong>EDIT A CONTACT</strong>
  <label>First Name<br /><input type="text" /></label>
  <label>Last Name<br /><input type="text" /></label>
  <label>Email<br /><input type="email" /></label>
  <label>Phone<br /><input type="text" /></label>
</form>

</section>
